<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTestProject1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnitTestProject1.Settings1>
            <setting name="login" serializeAs="String">
                <value>moskalukigor</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>1t8udo34</value>
            </setting>
        </UnitTestProject1.Settings1>
    </userSettings>
</configuration>